<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Gurukula Tests" >
    <classes>
       <class name="com.gurukula.testsuite.LoginTestCases" >
       
       <methods>
        <include name="verifyAllFieldsOnLoginPage" />
        <include name="successfulLogin" />
        <include name="uncessfulLogin" />
        <include name="registrationPage" />
        <include name="goToBranches" />
        <include name="createNewBranches" />
        <include name="searchACreatedBranches" />
        <include name="viewBranch" />
        <include name="editBranch" />
        <include name="deleteBranch" />
        <include name="testMethodgoToStaff" />
        <include name="createStaff" />
        <include name="searchACreatedStaff" />
        <include name="viewStaff" />
        <include name="editStaff" />
        <include name="deleteStaff" />
        <include name="pagination" />
        <include name="logout" />
        
      </methods>
       
       </class>
       
    </classes>
  </test>
 
</suite>
